pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
hl .hll { background-color: #ffffcc }
hl { background: #f8f8f8; }
hl .hlc { color: #408080; font-style: italic } /* Comment */
hl .hlerr { border: 1px solid #FF0000 } /* Error */
hl .hlk { color: #008000; font-weight: bold } /* Keyword */
hl .hlo { color: #666666 } /* Operator */
hl .hlch { color: #408080; font-style: italic } /* Comment.Hashbang */
hl .hlcm { color: #408080; font-style: italic } /* Comment.Multiline */
hl .hlcp { color: #BC7A00 } /* Comment.Preproc */
hl .hlcpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
hl .hlc1 { color: #408080; font-style: italic } /* Comment.Single */
hl .hlcs { color: #408080; font-style: italic } /* Comment.Special */
hl .hlgd { color: #A00000 } /* Generic.Deleted */
hl .hlge { font-style: italic } /* Generic.Emph */
hl .hlgr { color: #FF0000 } /* Generic.Error */
hl .hlgh { color: #000080; font-weight: bold } /* Generic.Heading */
hl .hlgi { color: #00A000 } /* Generic.Inserted */
hl .hlgo { color: #888888 } /* Generic.Output */
hl .hlgp { color: #000080; font-weight: bold } /* Generic.Prompt */
hl .hlgs { font-weight: bold } /* Generic.Strong */
hl .hlgu { color: #800080; font-weight: bold } /* Generic.Subheading */
hl .hlgt { color: #0044DD } /* Generic.Traceback */
hl .hlkc { color: #008000; font-weight: bold } /* Keyword.Constant */
hl .hlkd { color: #008000; font-weight: bold } /* Keyword.Declaration */
hl .hlkn { color: #008000; font-weight: bold } /* Keyword.Namespace */
hl .hlkp { color: #008000 } /* Keyword.Pseudo */
hl .hlkr { color: #008000; font-weight: bold } /* Keyword.Reserved */
hl .hlkt { color: #B00040 } /* Keyword.Type */
hl .hlm { color: #666666 } /* Literal.Number */
hl .hls { color: #BA2121 } /* Literal.String */
hl .hlna { color: #7D9029 } /* Name.Attribute */
hl .hlnb { color: #008000 } /* Name.Builtin */
hl .hlnc { color: #0000FF; font-weight: bold } /* Name.Class */
hl .hlno { color: #880000 } /* Name.Constant */
hl .hlnd { color: #AA22FF } /* Name.Decorator */
hl .hlni { color: #999999; font-weight: bold } /* Name.Entity */
hl .hlne { color: #D2413A; font-weight: bold } /* Name.Exception */
hl .hlnf { color: #0000FF } /* Name.Function */
hl .hlnl { color: #A0A000 } /* Name.Label */
hl .hlnn { color: #0000FF; font-weight: bold } /* Name.Namespace */
hl .hlnt { color: #008000; font-weight: bold } /* Name.Tag */
hl .hlnv { color: #19177C } /* Name.Variable */
hl .hlow { color: #AA22FF; font-weight: bold } /* Operator.Word */
hl .hlw { color: #bbbbbb } /* Text.Whitespace */
hl .hlmb { color: #666666 } /* Literal.Number.Bin */
hl .hlmf { color: #666666 } /* Literal.Number.Float */
hl .hlmh { color: #666666 } /* Literal.Number.Hex */
hl .hlmi { color: #666666 } /* Literal.Number.Integer */
hl .hlmo { color: #666666 } /* Literal.Number.Oct */
hl .hlsa { color: #BA2121 } /* Literal.String.Affix */
hl .hlsb { color: #BA2121 } /* Literal.String.Backtick */
hl .hlsc { color: #BA2121 } /* Literal.String.Char */
hl .hldl { color: #BA2121 } /* Literal.String.Delimiter */
hl .hlsd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
hl .hls2 { color: #BA2121 } /* Literal.String.Double */
hl .hlse { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
hl .hlsh { color: #BA2121 } /* Literal.String.Heredoc */
hl .hlsi { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
hl .hlsx { color: #008000 } /* Literal.String.Other */
hl .hlsr { color: #BB6688 } /* Literal.String.Regex */
hl .hls1 { color: #BA2121 } /* Literal.String.Single */
hl .hlss { color: #19177C } /* Literal.String.Symbol */
hl .hlbp { color: #008000 } /* Name.Builtin.Pseudo */
hl .hlfm { color: #0000FF } /* Name.Function.Magic */
hl .hlvc { color: #19177C } /* Name.Variable.Class */
hl .hlvg { color: #19177C } /* Name.Variable.Global */
hl .hlvi { color: #19177C } /* Name.Variable.Instance */
hl .hlvm { color: #19177C } /* Name.Variable.Magic */
hl .hlil { color: #666666 } /* Literal.Number.Integer.Long */