<div class="socials">
	<div class="hoveraccent" onclick="window.toast('{{ title }} - read more at: {{ page_url }}')" target="_blank"><img src="/res/icons/share.svg" alt="copy link"></div>
	<a class="hoveraccent" href="https://www.reddit.com/submit?url={{ page_url }}&title={{ title }}" target="_blank"><img src="/res/icons/reddit.svg" alt="reddit"></a>
	<a class="hoveraccent" href="https://news.ycombinator.com/submitlink?u={{ page_url }}&t={{ title }}" target="_blank"><img src="/res/icons/ycombinator.svg" alt="y combinator"></a>
	<a class="hoveraccent" href="https://twitter.com/intent/tweet?text={{ title }}{{ page_url }}" target="_blank"><img src="/res/icons/twitter.svg" alt="twitter"></a>
	<a class="hoveraccent" href="https://www.facebook.com/sharer/sharer.php?u={{ page_url }}&quote={{ title }}" target="_blank"><img src="/res/icons/facebook.svg" alt="facebook"></a>
</div>
