@charset "UTF-8";
@font-face {
  font-family: "Gruppo";
  src: url("/res/fonts/Gruppo/Gruppo-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Roboto-Light";
  src: url("/res/fonts/Roboto/Roboto-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Roboto-Thin";
  src: url("/res/fonts/Roboto/Roboto-Thin.ttf") format("truetype"); }
@font-face {
  font-family: "Mulish-Bold";
  src: url("/res/fonts/Mulish/Mulish-Bold.ttf") format("truetype"); }
* {
  box-sizing: border-box;
  transition-duration: 0.4s;
  scroll-behavior: smooth; }

body {
  color: #222222;
  background-color: #F0F0F3;
  font-family: Roboto-Light;
  font-size: 18px;
  width: 100%;
  margin: 0;
  padding: 0; }

.section {
  width: 100%;
  padding: 48px calc(50% - 650px); }

.section-standalone {
  padding-top: 256px;
  padding-bottom: 150px; }

.justcontent p {
  text-align: justify; }
.justcontent a, .justcontent a:visited, .justcontent a:hover {
  text-decoration: underline;
  text-decoration-style: dotted; }

h1, h2, h3, h4 {
  font-family: Gruppo; }

h1 {
  font-size: 2.5em; }

h3 {
  font-size: 28px;
  margin: 16px 0; }

a, a:visited, a:hover {
  text-decoration: none;
  color: #222222;
  cursor: pointer; }

button {
  cursor: pointer; }

.select-light, .button-light {
  border-radius: 16px;
  border-color: #F0F0F3;
  background-color: #F0F0F3;
  box-shadow: -2px -2px 3px #FFFFFF, 2px 2px 3px rgba(174, 174, 192, 0.4);
  padding: 8px 12px;
  margin: 8px 4px;
  width: 100%;
  color: #222222;
  font-family: Roboto-Thin;
  font-size: 20px;
  outline: none;
  border: none;
  display: inline;
  cursor: pointer; }
  .select-light:active, .select-light:focus, .button-light:active, .button-light:focus {
    border-radius: 16px;
    border-color: #F0F0F3;
    background-color: #F0F0F3;
    box-shadow: inset -2px -2px 3px #FFFFFF, inset 2px 2px 3px rgba(174, 174, 192, 0.4); }

.select-light {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("/res/images/down-arrow.png");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) 12px;
  margin-top: -16px; }

.success {
  padding: 16px;
  background-color: #222222;
  color: #F0F0F3;
  margin: 24px 0 !important; }

.error {
  padding: 16px;
  background-color: #222222;
  color: #ff3366;
  margin: 24px 0 !important; }

.name_required {
  position: absolute;
  left: -9000px; }

.lightbox {
  display: none; }

.hamburger, #logo-mobile, #ihk-mobile {
  display: none !important; }

.menu {
  position: absolute;
  left: 0;
  top: 48px;
  width: 100%;
  text-align: center; }
  .menu ul {
    list-style: none;
    padding: 0; }
    .menu ul li {
      display: inline-block;
      color: #474747;
      font-size: 16px;
      text-transform: uppercase;
      padding: 0 16px;
      vertical-align: middle; }
      .menu ul li a:hover {
        color: #000000; }
      .menu ul li img {
        height: 59px;
        width: auto; }
    .menu ul #logo-baumgartner {
      padding-right: 75px; }
    .menu ul #logo-ihk {
      padding-left: 75px; }

.titleimage {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.footer {
  color: #F0F0F3;
  background-color: #222222;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start; }
  .footer a {
    color: #F0F0F3; }
  .footer p {
    margin: 0; }
  .footer div {
    flex: 1 1 0px;
    margin: 0 24px; }
  .footer form {
    padding: 8px 0; }
    .footer form input, .footer form textarea {
      border-radius: 16px;
      border-color: #222222;
      background-color: #222222;
      box-shadow: -1.5px -1.5px 3px #000000, 1.5px 1.5px 3px rgba(78, 78, 78, 0.4);
      padding: 4px 12px;
      margin: 8px 0;
      width: 100%;
      color: #F0F0F3;
      font-family: Roboto-Thin;
      font-size: 24px;
      outline: none;
      border: none; }
      .footer form input::-webkit-input-placeholder, .footer form textarea::-webkit-input-placeholder {
        color: #A0A0A0;
        font-family: Gruppo; }
      .footer form input:-moz-placeholder, .footer form textarea:-moz-placeholder {
        color: #A0A0A0;
        font-family: Gruppo; }
      .footer form input::-moz-placeholder, .footer form textarea::-moz-placeholder {
        color: #A0A0A0;
        font-family: Gruppo; }
      .footer form input:-ms-input-placeholder, .footer form textarea:-ms-input-placeholder {
        color: #A0A0A0;
        font-family: Gruppo; }
    .footer form textarea {
      resize: none;
      height: 150px; }
    .footer form button {
      border-radius: 16px;
      border-color: #222222;
      background-color: #222222;
      box-shadow: inset -1.5px -1.5px 3px #000000, inset 1.5px 1.5px 3px rgba(78, 78, 78, 0.4);
      outline: none;
      border: none;
      color: #A0A0A0;
      font-family: Gruppo;
      font-size: 24px;
      line-height: 32px;
      padding: 8px 16px;
      margin: 8px -6px 8px 0;
      float: right; }
      .footer form button:active {
        border-radius: 16px;
        border-color: #222222;
        background-color: #222222;
        box-shadow: -1.5px -1.5px 3px #000000, 1.5px 1.5px 3px rgba(78, 78, 78, 0.4); }

.leistung {
  margin-top: -60vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start; }
  .leistung .column {
    background-color: #F0F0F3;
    padding: 48px;
    flex: 1 1 0px; }
    .leistung .column:first-child {
      margin-right: 48px; }
    .leistung .column:last-child {
      margin-left: 48px; }
    .leistung .column h1, .leistung .column h4 {
      text-align: center;
      margin: 0; }
    .leistung .column p {
      text-align: justify; }
    .leistung .column img {
      width: 100%;
      height: auto;
      margin-top: -18px;
      margin-bottom: -22px; }

.skewed {
  margin-top: -75vh;
  padding-bottom: 256px; }

.skewed-left .column:first-child {
  flex: 1 1 70%; }
.skewed-left .column:last-child {
  flex: 1 1 30%; }

.skewed-right .column:first-child {
  flex: 1 1 30%; }
.skewed-right .column:last-child {
  flex: 1 1 70%; }

.skewed-right-slight {
  margin-top: -85vh; }
  .skewed-right-slight .column:first-child {
    flex: 1 1 40%; }
  .skewed-right-slight .column:last-child {
    flex: 1 1 60%; }

.inscroll {
  max-height: 75vh; }
  .inscroll .column:last-child {
    overflow-y: scroll;
    height: 750px; }

.referenzWrapper, .anzeige {
  border-radius: 16px;
  border-color: #F0F0F3;
  background-color: #F0F0F3;
  box-shadow: inset -2px -2px 3px #FFFFFF, inset 2px 2px 3px rgba(174, 174, 192, 0.4);
  margin-bottom: 48px;
  padding: 24px; }
  .referenzWrapper h2, .anzeige h2 {
    font-family: Roboto-Light;
    margin-top: 0;
    font-size: 1.2em; }
  .referenzWrapper .referenz .referenzText, .anzeige .referenz .referenzText {
    margin-top: 16px; }
  .referenzWrapper .referenz .referenzDaten, .anzeige .referenz .referenzDaten {
    font-family: monospace;
    margin: 0;
    font-size: 80%; }
    .referenzWrapper .referenz .referenzDaten th, .referenzWrapper .referenz .referenzDaten td, .anzeige .referenz .referenzDaten th, .anzeige .referenz .referenzDaten td {
      vertical-align: top;
      font-weight: normal;
      text-align: left; }
  .referenzWrapper .referenz .referenzBilder, .anzeige .referenz .referenzBilder {
    max-height: 80px;
    overflow: hidden;
    width: 100%; }
    .referenzWrapper .referenz .referenzBilder img, .anzeige .referenz .referenzBilder img {
      height: 64px;
      width: auto;
      margin: 16px 4px 0 0; }

.anzeige {
  margin-top: 18px;
  margin-bottom: 30px; }
  .anzeige:last-child {
    margin-bottom: 0; }

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start; }
  .contact div {
    flex: 1 1 0px;
    margin: 0 24px; }
  .contact .contact-text h1 {
    margin-top: 0; }
  .contact .contact-text p {
    line-height: 28px; }
  .contact form input, .contact form textarea {
    border-radius: 16px;
    border-color: #F0F0F3;
    background-color: #F0F0F3;
    box-shadow: inset -2px -2px 3px #FFFFFF, inset 2px 2px 3px rgba(174, 174, 192, 0.4);
    padding: 8px 12px;
    margin: 8px 0;
    width: 100%;
    color: #222222;
    font-family: Roboto-Thin;
    font-size: 24px;
    outline: none;
    border: none; }
    .contact form input::-webkit-input-placeholder, .contact form textarea::-webkit-input-placeholder {
      color: #474747;
      font-family: Gruppo; }
    .contact form input:-moz-placeholder, .contact form textarea:-moz-placeholder {
      color: #474747;
      font-family: Gruppo; }
    .contact form input::-moz-placeholder, .contact form textarea::-moz-placeholder {
      color: #474747;
      font-family: Gruppo; }
    .contact form input:-ms-input-placeholder, .contact form textarea:-ms-input-placeholder {
      color: #474747;
      font-family: Gruppo; }
  .contact form textarea {
    resize: none;
    height: 250px; }
  .contact form button {
    border-radius: 16px;
    border-color: #F0F0F3;
    background-color: #F0F0F3;
    box-shadow: -2px -2px 3px #FFFFFF, 2px 2px 3px rgba(174, 174, 192, 0.4);
    outline: none;
    border: none;
    color: #474747;
    font-family: Gruppo;
    font-size: 24px;
    line-height: 32px;
    padding: 8px 16px;
    margin: 8px -2px 8px 0;
    float: right; }
    .contact form button:active {
      border-radius: 16px;
      border-color: #F0F0F3;
      background-color: #F0F0F3;
      box-shadow: inset -2px -2px 3px #FFFFFF, inset 2px 2px 3px rgba(174, 174, 192, 0.4); }

#motto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 35vh; }

#home-arrow {
  position: absolute;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  width: 36px;
  height: auto;
  cursor: pointer; }

.home-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between; }
  .home-cards h1 {
    text-transform: uppercase;
    text-align: center;
    flex-basis: 100%; }
  .home-cards .hc-card {
    flex: 1 1 0;
    margin: 0 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    border-color: #F0F0F3;
    background-color: #F0F0F3;
    box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
    padding: 24px;
    text-align: center; }
    .home-cards .hc-card img {
      height: 76px;
      width: 76px; }
    .home-cards .hc-card:nth-child(2) {
      margin-left: 0; }
    .home-cards .hc-card:last-child {
      margin-right: 0; }

.home-leistungen {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch; }
  .home-leistungen .hl-left, .home-leistungen .hl-right {
    flex: 1 1 0; }
    .home-leistungen .hl-left h1, .home-leistungen .hl-right h1 {
      text-align: center;
      text-transform: uppercase; }
  .home-leistungen .hl-left {
    position: relative; }
    .home-leistungen .hl-left .rod {
      border-radius: 100px;
      border-color: #F0F0F3;
      background-color: #F0F0F3;
      box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1px 1px 2px rgba(174, 174, 192, 0.2);
      display: block;
      width: 4px;
      height: 80%;
      margin-top: 12%;
      position: relative; }
      .home-leistungen .hl-left .rod:before {
        content: "";
        z-index: -1;
        width: 8px;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100px;
        border-color: #F0F0F3;
        background-color: #F0F0F3;
        box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4); }
    .home-leistungen .hl-left .step {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      z-index: 2;
      position: absolute;
      left: -76px; }
      .home-leistungen .hl-left .step:nth-child(3) {
        top: 15%; }
      .home-leistungen .hl-left .step:nth-child(4) {
        top: 45%; }
      .home-leistungen .hl-left .step:nth-child(5) {
        top: 75%; }
      .home-leistungen .hl-left .step .step-icon {
        flex: 0 0 30px;
        margin: 30px 48px 0px;
        border-radius: 100px;
        border-color: #F0F0F3;
        background-color: #F0F0F3;
        box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1px 1px 2px rgba(174, 174, 192, 0.2);
        display: inline-block;
        width: 60px;
        height: 60px;
        position: relative; }
        .home-leistungen .hl-left .step .step-icon img {
          padding: 10px; }
        .home-leistungen .hl-left .step .step-icon:before {
          z-index: -1;
          content: "";
          width: 72px;
          height: 72px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 100px;
          border-color: #F0F0F3;
          background-color: #F0F0F3;
          box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4); }
      .home-leistungen .hl-left .step .step-info {
        flex: 1 1 300px; }
        .home-leistungen .hl-left .step .step-info h3 {
          font-size: 1.8em;
          margin: 0 0 8px -24px; }
        .home-leistungen .hl-left .step .step-info .speech-bubble {
          border-radius: 16px;
          border-color: #F0F0F3;
          background-color: #F0F0F3;
          box-shadow: inset -2px -2px 3px #FFFFFF, inset 2px 2px 3px rgba(174, 174, 192, 0.4);
          border-radius: 0;
          position: relative;
          padding: 16px;
          display: inline-block; }
          .home-leistungen .hl-left .step .step-info .speech-bubble:after {
            border-color: #F0F0F3;
            background-color: #F0F0F3;
            box-shadow: inset 2px 2px 3px rgba(174, 174, 192, 0.4);
            content: "";
            position: absolute;
            left: -12px;
            top: 18px;
            width: 24px;
            height: 18px;
            transform: skewX(55deg); }
          .home-leistungen .hl-left .step .step-info .speech-bubble ul {
            padding: 0 0 0 0.8em;
            margin: 0; }
            .home-leistungen .hl-left .step .step-info .speech-bubble ul li {
              list-style-type: none;
              position: relative; }
              .home-leistungen .hl-left .step .step-info .speech-bubble ul li:before {
                content: "•";
                font-size: 18pt;
                left: -0.6em;
                top: -0.15em;
                position: absolute; }
  .home-leistungen .hl-right .hl-bereiche {
    padding: 8px 0;
    border-left: 4px solid #474747;
    overflow: hidden;
    transform: skewX(-20deg); }
    .home-leistungen .hl-right .hl-bereiche .bereich {
      transform: skewX(20deg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: relative;
      height: 180px;
      width: 150%;
      margin-left: -50px; }
      .home-leistungen .hl-right .hl-bereiche .bereich a {
        font-family: Gruppo;
        text-transform: uppercase;
        font-size: 2.4em;
        color: #FFFFFF;
        font-weight: bold;
        display: inline-block;
        min-width: 256px;
        padding: 0;
        border: 3px solid #FFFFFF;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        z-index: 2; }
        .home-leistungen .hl-right .hl-bereiche .bereich a:before {
          position: absolute;
          content: url("/res/images/double-right.png");
          left: -64px; }
      .home-leistungen .hl-right .hl-bereiche .bereich:hover::after {
        opacity: 0; }
      .home-leistungen .hl-right .hl-bereiche .bereich:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.2);
        opacity: 1; }

.home-text {
  width: 100%;
  padding: 96px calc(50% - 550px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start; }
  .home-text .ht-left {
    flex: 1 1 60%;
    margin: 0 48px; }
    .home-text .ht-left img {
      height: 52px;
      width: auto; }
    .home-text .ht-left a {
      display: inline-block;
      font-size: 70%;
      font-family: Mulish-Bold;
      color: #7CAC43;
      border: 4px solid #7CAC43;
      padding: 8px; }
      .home-text .ht-left a:hover {
        color: #F0F0F3;
        background-color: #7CAC43; }
  .home-text .ht-right {
    flex: 0 1 40%;
    margin: 0 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start; }
    .home-text .ht-right img {
      width: 125px;
      height: 125px;
      margin: 0 0 16px 16px; }

@media (max-height: 1064px) {
  .titleimage {
    height: 120vh; }

  .leistung {
    margin-top: -102vh;
    padding: 48px;
    margin-bottom: 5vh; }
    .leistung .column {
      padding: 36px; }
      .leistung .column:first-child {
        margin-right: 18px; }
      .leistung .column:last-child {
        margin-left: 18px; }
      .leistung .column h2 {
        font-size: 1em; }

  .inscroll {
    max-height: none;
    height: 85vh; }
    .inscroll .column:last-child {
      overflow-y: scroll;
      height: 70vh;
      margin-bottom: 20vh; } }
@media (max-width: 1565px) {
  .home-leistungen {
    padding: 48px 0; }
    .home-leistungen .hl-left {
      margin-left: 48px;
      position: relative;
      height: auto; }
      .home-leistungen .hl-left h1 {
        margin-bottom: 36px; }
      .home-leistungen .hl-left .rod {
        margin: 60px 0;
        height: 700px; }
      .home-leistungen .hl-left .step {
        left: -76px; }
        .home-leistungen .hl-left .step:nth-child(3) {
          top: 80px; }
        .home-leistungen .hl-left .step:nth-child(4) {
          top: calc(80px + 30%); }
        .home-leistungen .hl-left .step:nth-child(5) {
          top: calc(80px + 60%); }
        .home-leistungen .hl-left .step .step-info {
          flex: 1 0 350px; }
    .home-leistungen .hl-right .hl-bereiche {
      padding: 0;
      border-left: none;
      overflow: hidden;
      transform: skewX(0deg); }
      .home-leistungen .hl-right .hl-bereiche .bereich {
        transform: skewX(0deg);
        height: 180px;
        width: 100%;
        margin-left: 0px; }
        .home-leistungen .hl-right .hl-bereiche .bereich a {
          left: 52%;
          z-index: 2; } }
@media (max-width: 1366px) {
  .section {
    width: 100%;
    padding: 48px; }

  .justcontent, .section-standalone {
    padding: 48px 96px;
    margin-top: 48px; }

  h1 {
    font-size: 2em; }

  .titleimage {
    height: 120vh; }

  .hamburger {
    display: block !important;
    position: absolute;
    top: 24px;
    right: 24px; }
    .hamburger .hamburger-inner, .hamburger .hamburger-inner::before, .hamburger .hamburger-inner::after {
      background-color: #222222 !important;
      width: 36px !important;
      height: 3px !important; }

  #logo-mobile {
    display: block !important;
    position: absolute;
    top: 24px;
    left: 24px; }
    #logo-mobile img {
      height: 54px; }

  #ihk-mobile {
    display: block !important;
    position: absolute;
    bottom: 112px;
    left: 50%;
    transform: translateX(-50%); }
    #ihk-mobile img {
      width: 25vw;
      max-width: 110px;
      height: auto; }

  .is-active {
    position: fixed !important;
    z-index: 4; }

  .is-active-menu {
    transform: translateX(0%) !important; }

  .menu {
    z-index: 4;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 264px;
    text-align: center;
    transform: translateX(-100%);
    background-color: #F0F0F3;
    height: 100vh; }
    .menu img {
      display: none; }
    .menu ul {
      list-style: none;
      padding: 0; }
      .menu ul li {
        display: block;
        font-size: 20px;
        padding: 16px; }

  .leistung {
    margin-top: -110vh;
    padding: 48px;
    margin-bottom: 5vh; }
    .leistung .column {
      padding: 36px; }
      .leistung .column:first-child {
        margin-right: 18px; }
      .leistung .column:last-child {
        margin-left: 18px; }
      .leistung .column h2 {
        font-size: 1em; }

  .inscroll {
    max-height: none;
    height: 90vh; }
    .inscroll .column:last-child {
      overflow-y: scroll;
      height: 75vh;
      margin-bottom: 15vh; }

  .select-light, .button-light {
    width: auto;
    font-size: 16px; }

  .referenzWrapper h2, .anzeige h2 {
    font-size: 1.1em; }

  .skewed-right-slight:first-child {
    flex: 1 1 50%; }
  .skewed-right-slight:last-child {
    flex: 1 1 50%; }

  .titleimage-large {
    height: 100vh; }

  .home-cards h3 {
    font-size: 24px; }

  .home-leistungen {
    padding: 48px 0; }
    .home-leistungen .hl-left {
      margin-left: 48px;
      position: relative;
      height: auto; }
      .home-leistungen .hl-left h1 {
        margin-bottom: 36px; }
      .home-leistungen .hl-left .rod {
        margin: 60px 0;
        height: 700px; }
      .home-leistungen .hl-left .step {
        left: -76px; }
        .home-leistungen .hl-left .step:nth-child(3) {
          top: 80px; }
        .home-leistungen .hl-left .step:nth-child(4) {
          top: calc(80px + 30%); }
        .home-leistungen .hl-left .step:nth-child(5) {
          top: calc(80px + 60%); }
        .home-leistungen .hl-left .step .step-info {
          flex: 1 0 350px; }
    .home-leistungen .hl-right .hl-bereiche {
      padding: 0;
      border-left: none;
      overflow: hidden;
      transform: skewX(0deg); }
      .home-leistungen .hl-right .hl-bereiche .bereich {
        transform: skewX(0deg);
        height: 180px;
        width: 100%;
        margin-left: 0px; }
        .home-leistungen .hl-right .hl-bereiche .bereich a {
          left: 52%;
          z-index: 2; }

  .home-text {
    padding: 24px 48px 96px 48px; } }
@media (max-width: 940px) {
  .section {
    width: 100%;
    padding: 0px; }

  .justcontent, .section-standalone {
    padding: 48px;
    margin-top: 48px; }

  h1 {
    font-size: 1.7em; }

  h3 {
    font-size: 27px; }

  .titleimage {
    height: 25vh; }

  .hamburger {
    display: block !important;
    position: absolute;
    top: 24px;
    right: 24px; }
    .hamburger .hamburger-inner, .hamburger .hamburger-inner::before, .hamburger .hamburger-inner::after {
      background-color: #222222 !important;
      width: 36px !important;
      height: 3px !important; }

  #logo-mobile {
    display: block !important;
    position: absolute;
    top: 24px;
    left: 24px; }
    #logo-mobile img {
      height: 54px; }

  #ihk-mobile {
    display: block !important;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%); }
    #ihk-mobile img {
      width: 25vw;
      height: auto; }

  .is-active {
    position: fixed !important;
    z-index: 4; }

  .is-active-menu {
    transform: translateX(0%) !important; }

  .menu {
    z-index: 4;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 264px;
    text-align: center;
    transform: translateX(-100%);
    background-color: #F0F0F3;
    height: 100vh; }
    .menu img {
      display: none; }
    .menu ul {
      list-style: none;
      padding: 0; }
      .menu ul li {
        display: block;
        font-size: 20px;
        padding: 16px; }

  .footer {
    padding: 48px;
    flex-direction: column;
    flex-wrap: wrap; }
    .footer div {
      margin: 0; }
    .footer .contact-form {
      margin-top: 24px; }

  .leistung {
    margin-top: 0px;
    display: block; }
    .leistung .column {
      width: 100%; }
      .leistung .column:first-child {
        margin-right: 0px; }
      .leistung .column:last-child {
        margin-left: 0px; }
      .leistung .column img {
        width: 100%;
        height: auto;
        margin-top: -18px;
        margin-bottom: -22px; }
      .leistung .column code {
        white-space: normal; }

  .inscroll {
    max-height: none;
    height: auto; }
    .inscroll .column:last-child {
      overflow-y: visible;
      height: auto; }

  .select-light, .button-light {
    width: auto;
    font-size: 20px; }

  .referenzWrapper h2, .anzeige h2 {
    font-size: 1.1em; }

  tr, th {
    display: block; }

  th {
    text-decoration: underline; }

  .contact {
    margin-top: 96px;
    flex-direction: column;
    flex-wrap: wrap; }
    .contact div {
      margin: 0; }
    .contact .contact-text {
      order: -1; }

  .titleimage-large {
    height: 100vh; }

  #motto {
    height: auto;
    width: 70vw;
    max-width: 380px; }

  .home-cards {
    display: block;
    padding: 18px 48px 0 48px; }
    .home-cards h1 {
      text-transform: uppercase;
      text-align: center;
      flex-basis: 100%; }
    .home-cards .hc-card {
      margin: 0 0 48px 0;
      width: 100%; }

  .home-leistungen {
    display: block; }
    .home-leistungen .hl-left {
      margin: 96px calc(50% - 140px) 0px calc(50% - 140px);
      position: relative;
      height: auto; }
      .home-leistungen .hl-left h1 {
        margin-bottom: 36px; }
      .home-leistungen .hl-left .rod {
        margin: 96px 0;
        height: 700px; }
      .home-leistungen .hl-left .step {
        left: -76px; }
        .home-leistungen .hl-left .step:nth-child(3) {
          top: 116px; }
        .home-leistungen .hl-left .step:nth-child(4) {
          top: calc(116px + 30%); }
        .home-leistungen .hl-left .step:nth-child(5) {
          top: calc(116px + 60%); }
        .home-leistungen .hl-left .step .step-info {
          flex: 0 0 220px; }
    .home-leistungen .hl-right .hl-bereiche {
      padding: 0;
      border-left: none;
      overflow: hidden;
      transform: skewX(0deg); }
      .home-leistungen .hl-right .hl-bereiche .bereich {
        transform: skewX(0deg);
        height: 180px;
        width: 100%;
        margin-left: 0px; }
        .home-leistungen .hl-right .hl-bereiche .bereich a {
          left: 50%;
          z-index: 2; }
          .home-leistungen .hl-right .hl-bereiche .bereich a:before {
            content: ""; }

  .home-text {
    padding: 96px 48px;
    display: block; }
    .home-text .ht-left {
      margin: 0; }
      .home-text .ht-left img {
        height: 64px;
        width: auto; }
      .home-text .ht-left a {
        margin-top: 12px; }
    .home-text .ht-right {
      display: none; } }

/*# sourceMappingURL=watched.css.map */
