{% extends "base.html" %}
{% block body %}
<div class="section section-standalone contact">
	<div class="contact-form">
		<form action="/res/mailer.php" method="post" id="kontaktForm">
			<input type="text" class="formInput name_required" name="name_required" maxlength="50" placeholder="">
			<input type="text" name="name" placeholder="Name">
			<input type="email" name="email" placeholder="Email" required>
			<input type="tel" name="phone" placeholder="Telefon">
			<textarea name="message" placeholder="Nachricht" required></textarea>
			<div id="erfolgsNachricht"></div>
			<button type="submit" name="send">Senden</button>
		</form>
	</div>
	<div class="contact-text">
		{{ content }}
	</div>
</div>
{% endblock %}
