*{
    box-sizing: border-box;
}

.contentContainer{
    width: 90%;
    max-width: 1000px;
    background: #ddd;
    margin: 10% auto;
    padding: 20px 10%;
}

input, textarea{
    width: 100%;
    margin: 8px auto;
    padding: 4px;

}

textarea{
    height: 200px;
}

.boxContainer{
    width: 100%;
    max-width: 900px;
    margin: 10% auto;
}

.box{
    display: inline-block;
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    height: 280px;
    background-color: #ddd;
    position: relative;
}

.box a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: black;
    font-variant: small-caps;
    font-size: 200%;
}

.box a:visited{
    color: black;
}

.referenceForm{
    display: none;
}

label input{
    width: auto;
}

label{
    width: 100% !important;
    margin-left: 5px;
    margin-right: 20px;
}
